{% extends "appbuilder/base.html" %}
{% import 'appbuilder/general/lib.html' as lib %}
{% block content %}
<link rel="stylesheet" href="/static/css/toggle.css" />
<link rel="stylesheet" href="/static/css/toastr_modi.css?version=20230110.01" />
<link rel="stylesheet" href="/static/css/mycss.css?version=20230110.18" />
<script src="/static/js/toggle.js"></script>
<script src="/static/js/toastr_modi.js?version=20230110.01"></script>
<script src="/static/js/myjs.js?version=20230110.16"></script>
<script src="/static/js/jquery.finger.js"></script>
<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>

    <div id="video-area">
      <div id="video-title">{{content_description}}</div>
      <div id="video-section">
        <table id="section-ul">
          <colgroup>
            <col style="width: 25%">
            <col style="width: 75%">
          </colgroup>
        </table>
      </div>
      <video id="player" style="width: 100%; height: 100%; pointer-events: none;"></video>
    </div>

    <script>

      var flag = 1;

      let playMode = 2;
      let captions = [];
      let captions_new = [];
      
      let current_caption = 0;

      $(document).ready(function () {
        function toggleValueChanged(selectedValue) {
          playMode = selectedValue;
        }

        let opt = [
          { value: 1, label: "연속" },
          { value: 2, label: "구간" },
        ];

        $("#stopmode").setupToggles({
          toggleOptions: opt,
          defaultValue: 2,
          onSelectedValueChange: toggleValueChanged,
        });
      });

      var player = document.getElementById('player');
      var videoSrc = '{{manifest_path}}'

      let pWidth = $( document ).width() <= 640 ? $( document ).width() : 640;
      let pHeight = Math.round(( pWidth * 3 ) / 6);

      if (player.canPlayType('application/vnd.apple.mpegurl')) {
          player.src = videoSrc;
      } else if (Hls.isSupported()) {
          var hls = new Hls();
          hls.loadSource(videoSrc);
          hls.attachMedia(player);
	    }

      function mySpeed(me, speed) {
        $('#speed-buttons').find('.button-selected').removeClass("button-selected")
        $(me).addClass('button-selected');        
        player.playbackRate = speed;
      }

      function mypause() {
        player.pause();
        var ct = player.currentTime;
        var ct2 = Math.round(ct * 100) / 100;
        document.getElementById('time').innerHTML = "sec : " + ct2;
        document.getElementById("toggleDiv").innerHTML = 'Play  (q)';
        flag=1;
      }

      function mystart() {
        player.currentTime -= 0.5;     
        player.play();
        document.getElementById("toggleDiv").innerHTML = 'Pause(q)';
        flag=0;
      }
      
      function playById(id, division=""){
        
        let rid = id<0 ? 0 : id;

        if(playMode==2){
          current_caption=rid

          if(division==""){
            subtitleScroll("li-"+current_caption);
          }else{
            subtitleScroll(division);
          }

        }

        player.currentTime = captions[rid].start;
        player.play();
        document.getElementById("toggleDiv").innerHTML = 'Pause(q)';
        flag=0;
      }

      function openToast(id){
        
        var message = ''
        var duration = 0
        if(captions[id].hasOwnProperty('text_c')){
          message = captions[id].text_c
          duration = 6000

          toastr.info('', message, {
            timeOut: duration,
            positionClass: "toast-top-full-width",
            closeButton: true,
            showDuration: 200,
            closeDuration: 0,
            hideDuration: 200,

          })

        }

      }

      //getcaptions("/api/v1/mytube/hls_caption/{{id}}");
      var subtitles = getSubtitles("/api/v1/mytube/hls_caption/{{id}}");
      captions = subtitles.data;
      
      var division = [];
      var division_title = "";

      if(subtitles.hasOwnProperty('division')){
        division = subtitles.division;        
      }

      if(subtitles.hasOwnProperty('division')){
        division_title = subtitles.division_title;        
      }

      $(window).on('load', function(){
        retrieveSubtitles(subtitles.data, "#caption-ul"
          , isWeight=false
          , division=division
          , division_title=division_title);
        window.scrollTo(0, document.body.scrollHeight || document.documentElement.scrollHeight);
      });

      $.Finger  = {
        pressDuration: 1000,
      };

      // Update the count down every 1 second
      var x = setInterval(function() {
        var ct = !player.currentTime ? 0.0 : player.currentTime;
        var ct2 = Math.round(ct * 100) / 100
        document.getElementById('time').innerHTML = "sec : " + ct2;
        if(captions.length==0){
        }else{
          document.getElementById('current').innerHTML = "" + current_caption + " / " + captions.length;

          if(playMode==1){
          
            if(captions[current_caption].start < ct && captions[current_caption].end > ct){

            }else{
              var val_id = musicSearch(captions, ct);
              if(val_id>=0){
                current_caption = val_id
                subtitleScroll("li-"+val_id);
              }
            }

          }else if (playMode==2) {

            if(captions[current_caption].end < ct){
              mypause();
            }
            
          } else {
            
          }

        }

      }, 300);

      function musicSearch(items, value){
        var rtn = -1;
        jQuery.each( items, function( i, val ) {
          if(val.start<value && val.end>=value){
            console.log("musicSearch:"+val.start);
            rtn = val.id;
            return false; 
          }
        });
        return rtn;
      }

      function mytoggle(){
        if(flag==0){
            mypause()
        }
        else if(flag==1){
            mystart()
        }
      }

    </script>
  <div>
    <table id="speed-buttons">
      <colgroup>
        <col style="width: 46%">
        <col style="width: 18%">
        <col style="width: 18%">
        <col style="width: 18%">
      </colgroup>
      <tr>
        <th><div id="stopmode" class="selectGroup"></div></th>
        <th><button class="btn speed-button" onclick="mySpeed(this, 0.75)" accesskey="v">Slow</button></th>
        <th><button class="btn speed-button" onclick="mySpeed(this, 1.25)" accesskey="c">Fast</button></th>
        <th><button class="btn speed-button" onclick="mySpeed(this, 1.0)" accesskey="n">Normal</button></th>
      </tr>
    </table>
  </div>
  <div>
    <table id="function-buttons">
      <colgroup>
        <col style="width: 25%">
        <col style="width: 25%">
        <col style="width: 25%">
        <col style="width: 25%">
      </colgroup>
      <tr>
        <th class="player-info" id="current"></th>
        <th class="player-info" id="time"></th>
        <th class="player-info" id="quality"></th>
        <th class="player-info" id="status"></th>
      </tr>
      <tr>
        <th><button class="function-button" id="toggleDiv" onclick="mytoggle()" accesskey="q">Play (q)</button></th>
        <th><button class="function-button" onclick="playById(current_caption-1)" accesskey="z">&lt;Prev(z)</button></th>
        <th><button class="function-button" onclick="playById(current_caption)" accesskey="x">Replay(x)</button></th>
        <th><button class="function-button" onclick="playById(current_caption+1)" accesskey="c">&gt;Next(c)</button></th>
      </tr>
    </table>
  </div>
  <div id="caption">
    <nav id="nav-cap">
      <ul id="caption-ul">
          <li>Link 1</li>
      </ul>
    </nav>
  </div>
{% endblock %}