{% extends "appbuilder/base.html" %}
{% import 'appbuilder/general/lib.html' as lib %}
{% block content %}
<link rel="stylesheet" href="/static/css/toastr_modi.css" />
<script src="/static/js/toastr_modi.js"></script>
<script src="/static/js/myjs.js"></script>
<style>
    .i_text {
        background-color: rgb(228, 247, 228);
    }
    .i_text_c {
        color: brown;
        width: 90%;
    }
    .w_dict {
      text-decoration-line: underline;
    }
    .dict-word {
      color:rgb(245, 245, 143);
    }
</style>
<div>
    <h4>{{title}}</h4>
</div>
<div>
    {% set summ = {'total': 0} %}
    <table style="width: 100%;">
        {% for jrow in jcontents_list %}        
        {% if summ.update({'total':summ.total + jrow['len']}) %}{% endif %}
        <tr>
            <td><div class="i_text">{{jrow['id']}} : {{jrow['text']|safe}}</div></td><td><div style="text-align:right;color: brown;">{{summ.total}}</div></td>
        </tr>
        {# if jrow.get('text_c') #}
        <tr>
            <td><p class="i_text_c">{{jrow['text_c']|safe}}</p></td><td></td>
        </tr>
        {# endif #}
    {% endfor %}
    </table>
</div>

{% endblock %}