{% extends "appbuilder/base.html" %}
{% import 'appbuilder/general/lib.html' as lib %}
{% block content %}
<link rel="stylesheet" href="/static/css/toggle.css" />
<link rel="stylesheet" href="/static/css/toastr_modi.css" />
<script src="/static/js/toggle.js"></script>
<script src="/static/js/toastr_modi.js"></script>
<script src="/static/js/tata.js"></script>
  <style>
    #function-buttons {
      width: 100%;
    }
    .function-button {
      width: 100%;
    }
    .w_subject {
      background-color: rgb(196, 236, 247);
    }
    .w_verb {
      background-color: rgb(202, 247, 202);
    }
    .w_dict {
      text-decoration-line: underline;
      font-weight: bold;
    }
    .p_relative {
      background-color: rgb(252, 209, 242);
    }
    .p_title {
      color: brown;
      font-weight: bold;
    }
    .dict-word {
      color:rgb(245, 245, 143);
    }
    .column0_1 {
      color: red;
      float:left;
      font-weight: bold;
      font-size: 12px;
      width: 9%;
      padding: 4px;
      text-align: right;
      /* height: 300px; Should be removed. Only for demonstration */
    }
    .column0_2 {
      color: green;
      float:left;
      font-size: 11px;
      width: 9%;
      padding: 4px;
      text-align: right;
      /* height: 300px; Should be removed. Only for demonstration */
    }
    .column1 {
      color: green;
      float:left;
      font-size: 11px;
      width: 12%;
      padding: 3px;
      text-align: center;
      /* height: 300px; Should be removed. Only for demonstration */
    }
    .column2 {
      float: left;
      width: 79%;
      padding: 4px;
      /* height: 300px; Should be removed. Only for demonstration */
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }

    #nav-cap ul{height:300px; width:100%;}
    #nav-cap ul{overflow:hidden; overflow-y:scroll;}
    :root {
      --default-line-height: 20px;
    }
    #caption-ul {
      background-color: rgb(247, 229, 229);
      height: var(--default-line-height);
      list-style-type: none;
      padding-left: 0;
      overflow-y: scroll;
      outline: 1px solid black;
      scroll-snap-type: y mandatory;
    }
    .caption-li {
      font-size: 16px;
      line-height: var(--default-line-height);
      scroll-snap-align: start;
      scroll-snap-stop: normal;
    }
    .caption-li:hover {
      background-color: yellow;
    }
    .player-info {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 4px;
    }
    table, th, td {
      border-collapse: collapse;
      padding: 4px;
    }
  </style>
    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    <div>
      <h4>{{content_description}}</h4>
    </div>
    <div>
    <div id="player"></div>
    </div>

    <script>

      var flag = 1;

      let playMode = 2;
      let youtubeid = "{{content_id}}";
      let captions = [];
      let captions_new = [];
      
      let current_caption = 0;

      $(document).ready(function () {
        function toggleValueChanged(selectedValue) {
          playMode = selectedValue;
        }

        let opt = [
          { value: 1, label: "연속" },
          { value: 2, label: "구간" },
        ];

        $("#stopmode").setupToggles({
          toggleOptions: opt,
          defaultValue: 2,
          onSelectedValueChange: toggleValueChanged,
        });
      });

      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      let pWidth = $( document ).width() <= 640 ? $( document ).width() : 640;
      let pHeight = Math.round(( pWidth * 3 ) / 4);
      
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: pHeight,
          width: pWidth,
          videoId: youtubeid,
          //playerVars: { 'autoplay': 1, 'start':300, 'end':310, 'modestbranding':1},
          playerVars: { 'autoplay': 0, 'controls': 0, 'disablekb': 1, 'fs':0, 'rel':0, 'start':{{play_from}}, 'modestbranding':1},
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });

      }

      function fancyTimeFormat(duration)
      {   
          // Hours, minutes and seconds
          var hrs = ~~(duration / 3600);
          var mins = ~~((duration % 3600) / 60);
          var secs = ~~duration % 60;
          var dat  = Math.round((duration % 1) * 10);

          // Output like "1:01" or "4:03:59" or "123:03:59"
          var ret = "";

          if (hrs > 0) {
              ret += "" + hrs + ":" + (mins < 10 ? "0" : "");
          }

          ret += "" + mins + ":" + (secs < 10 ? "0" : "");
          ret += "" + secs;
          ret += "." + dat
          return ret;
      }

      function findItem(list, start, end, time) {
        //var len    = list.length;
        var median = Math.floor((end + start)/2)
        var item   = list[median];
        
        if(item.start >= time){
          return findItem(list, start, median, time), 0;
        }else if(item.end < time){
          return findItem(list, median, end, time), 0;
        }else{
          return item, median;
        }
         
      }

      function getSection(time) {
        var item, inx = findItem(captions_new, 0, captions_new.length, time);
        return item, inx;
      }

      function mergeCaptions() {

      }

      /*
      function splitCaption() {

        if (event.data == YT.PlayerState.PAUSED) {

          val currentTime = player.getCurrentTime();
          var current_item, inx = getSection(currentTime);
          var new_item = current_item;

          current_item.end = currentTime;
          new_item.start = currentTime;

          updateItem(inx, current_item);
          insertItem(inx, new_item);

        }else{

        }

      }
      */
      function updateItem(index, item){
        captions_new[index].start = item.start;
        captions_new[index].end   = item.end;
        captions_new[index].text  = item.text;        
      }

      function insertItem(index, item){
        captions_new.splice(index, 0, new_item);
      }

      function moveEnd(id, time) {

        captions_new[id].end += time;
        if(id!=captions_new.length-1){
          captions_new[id+1].start += time;
        }
        
      }

      function moveStart(id, time) {

        captions_new[id].start += time;
        if(id!=0){
          captions_new[id-1].end += time;
        }

      }
      
      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data != YT.PlayerState.PLAYING) {
          event.target.setPlaybackQuality('small');  // <-- WORKS!
          document.getElementById("toggleDiv").innerHTML = 'Play  (q)';
          flag=1;
        }else{
          document.getElementById("toggleDiv").innerHTML = 'Pause(q)';
          flag=0;
        }
        //if (event.data == YT.PlayerState.PLAYING && !done) {
        //  setTimeout(stopVideo, 6000);
        //  done = true;
        //}
        //document.getElementById('status').html(event.data);
        document.getElementById('status').innerHTML = getStatus(event.data);
        document.getElementById('quality').innerHTML = "qual : "+player.getPlaybackQuality()
        
      }

      function stopVideo() {
        player.stopVideo();
      }

      function getStatus(status){
        let rtn;
        switch (status) {
          case -1:
            rtn = "unstarted";
            break;
          case 0:
            rtn = "ended";
            break;
          case 1:
            rtn = "playing";
            break;
          case 2:
            rtn = "paused";
            break;
          case 3:
            rtn = "buffering";
            break;
          case 5:
            rtn = "video cued";
        }
        return rtn;
      }

      function myNormal() {
        player.setPlaybackRate(1.0);
        //player.playVideo();
      }
      function myFast() {
        player.setPlaybackRate(1.25);
        //player.playVideo();
      }
      function mySlow() {
        player.setPlaybackRate(0.75);
        //player.playVideo();
      }
      function getContents() {
        player.destroy();
        player = new YT.Player('player', {
          height: '360',
          width: pWidth,
          videoId: youtubeid,
          //playerVars: { 'autoplay': 1, 'start':300, 'end':310, 'modestbranding':1},
          playerVars: { 'autoplay': 0, 'controls': 0, 'disablekb': 1, 'fs':0, 'rel':0, 'start':300, 'modestbranding':1},
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
          });
        //player.playVideo();
      }
      function mypause() {
        player.pauseVideo();
        var ct = player.getCurrentTime();
        var ct2 = Math.round(ct * 100) / 100
        document.getElementById('time').innerHTML = "sec : " + ct2;
      }
      function mystart() {
        player.seekTo(player.getCurrentTime() - 0.5, true);        
        player.playVideo();
      }
      
      function playById(id){
        
        if(playMode==2){
          current_caption=id
          captionScroll(current_caption);
        }

        player.seekTo(captions[id].start , true);
        player.playVideo();

      }

      function openToast(id){
        
        var message = ''
        var duration = 0
        if(captions[id].hasOwnProperty('text_c')){
          message = captions[id].text_c
          duration = 6000

          toastr.info('', message, {
            timeOut: duration,
            positionClass: "toast-top-full-width",
            closeButton: true,
            showDuration: 200,
            closeDuration: 0,
            hideDuration: 200,

          })

        }

      }

      function viewDict(dict) {

        var word = dict.innerHTML
        var rlist = getDict(word);
        var deco_word = '<span class="dict-word">'+word+'</span>'
        
        rlist.forEach((x, i) => 
          toastr.success('', deco_word + ' : ' + x, {
              timeOut: 8000,
              positionClass: "toast-top-full-width",
              closeButton: true,
              showDuration: 200,
              closeDuration: 0,
              hideDuration: 200,
          })
        );
      }

      function getDict(text) {
        var result ='';
        text = text.replaceAll(' ', '_').toLowerCase();
        
        $.ajax({
          type: "GET",
          url: "/api/v1/mytube/dictionary/" + text,
          async: false
        }).done(function (response) {
          result = response.data          
        });
        //console.log('result2 : ' + result);
        return result;
      }

      function getcaptions() {

        $.ajax({
          type: "GET",
          url: "/api/v1/mytube/caption/" + youtubeid
        }).done(function (response) {
            //captions = jQuery.parseJSON(response);
            captions = response;
            //console.log(captions)
            $("#caption-ul").empty();
            $(response).each(function(i,val)
            {
              var start = (Math.round(val.start * 10) / 10);
              var end   = (Math.round(val.end * 10) / 10);
              
              //var line = ""+i+" : "+start+" ~ "+end+" "+val.text;
              var line = '<div class="row" ondblclick="playById('+""+i+')">';
              if(val.hasOwnProperty('text_c')){
                line += '<div class="column0_1" onclick="openToast('+""+i+')">'
              }else{
                line += '<div class="column0_2">'
              }
              line += ""+i+'</div><div class="column1">'+"~ "+fancyTimeFormat(end)+'</div><div class="column2">'+val.text+'</div></div>';
              //console.log(val.duration)
              //$.each(val,function(key,val)
              //{
              //  line = line + key + ": " + val + " "; 
                //console.log(key + " : " + val);     
              //});
              $("#caption-ul").append('<li class="caption-li" id="li-'+ i +'">'+ line +"</li>");
              //console.log(i + " : " + val);

            });

            window.scrollTo(0, document.body.scrollHeight || document.documentElement.scrollHeight);
            
        }).fail(function (response) {
            console.log();
        });

        console.log('captions')
      }

      getcaptions();
      // Update the count down every 1 second
      var x = setInterval(function() {
        var ct = !player.getCurrentTime ? 0.0 : player.getCurrentTime();
        var ct2 = Math.round(ct * 100) / 100
        document.getElementById('time').innerHTML = "sec : " + ct2;
        if(captions.length==0){
        }else{
          //var val = captions.filter(function(e){
            //console.log("each : "+e.start+","+ct+","+e.duration);
            //return e.start < ct && e.end >= ct;
          //})
          //console.log("val : "+binarySearch(captions, ct))
          document.getElementById('current').innerHTML = "pos : " + current_caption + " / " + captions.length;

          if(playMode==1){
          
            if(captions[current_caption].start < ct && captions[current_caption].end > ct){

            }else{
              var val_id = musicSearch(captions, ct);
              if(val_id>=0){
                current_caption = val_id
                captionScroll(val_id);
              }
            }

          }else if (playMode==2) {

            if(captions[current_caption].end < ct){
              mypause();
            }
            
          } else {
            
          }

        }

      }, 300);

      function captionScroll(x) {
        //$('#caption-ul').scrollTop($('#caption-ul li:eq('+x+')').offset().top);
        if(x==0){
          $('#caption-ul').scrollTop($('#caption-ul li:nth-child(1)').position().top - $('#caption-ul li:first').position().top);
        }else{
          $('#caption-ul').scrollTop($('#caption-ul li:nth-child('+x+')').position().top - $('#caption-ul li:first').position().top);
        }
        $('#li-'+x).css("background-color","white")
        //$("caption-ul").get(x).scrollIntoView();
      }

      function captionScroll2(x) {
        var list = document.getElementById("caption-ul");
        var targetLi = document.getElementById("li-"+x);
        list.scrollTop = (targetLi.offsetTop - 10);
      }

      function binarySearch(items, value){

        var startIndex  = 0,
            stopIndex   = items.length - 1,
            middle      = Math.floor((stopIndex + startIndex)/2);
    
        while((items[middle].start >= value || items[middle].end < value ) && startIndex < stopIndex){
    
            //adjust search area
            if (value < items[middle]){
                stopIndex = middle - 1;
            } else if (value > items[middle]){
                startIndex = middle + 1;
            }
    
            //recalculate middle
            middle = Math.floor((stopIndex + startIndex)/2);
        }
        
        //make sure it's the right value
        return (items[middle] != value) ? -1 : middle;
      }

      function musicSearch(items, value){
        var rtn = -1;
        jQuery.each( items, function( i, val ) {
          if(val.start<value && val.end>=value){
            console.log("musicSearch:"+val.start);
            rtn = val.id;
            return false; 
          }
        });
        return rtn;
      }

      function mytoggle(){
        if(flag==0){
            //document.getElementById("toggleDiv").innerHTML = 'Play  (q)';
            mypause()
            //flag=1;
        }
        else if(flag==1){
            //document.getElementById("toggleDiv").innerHTML = 'Pause(q)';
            mystart()
            //flag=0;
        }
      }

    </script>
  <div>
    <table>
      <tr>
        <th>
          <div id="stopmode" class="selectGroup"></div>
        </th>
        <th>
          <button onclick="mySlow()" accesskey="v">Slow(v)</button>
          <button onclick="myFast()" accesskey="c">Fast(c)</button>
          <button onclick="myNormal()" accesskey="n">Normal(n)</button>
        </th>
      </tr>
    </table>
  </div>
  <div>
    <table>
      <tr>
        <th class="player-info" id="current"></th>
        <th class="player-info" id="time"></th>
        <th class="player-info" id="quality"></th>
        <th class="player-info" id="status"></th>
      </tr>
    </table>
  </div>
  <div>
    <table id="function-buttons">
      <tr>
        <th><button class="function-button" id="toggleDiv" onclick="mytoggle()" accesskey="q">Play (q)</button></th>
        <th><button class="function-button" onclick="playById(current_caption-1)" accesskey="z">&lt;Prev(z)</button></th>
        <th><button class="function-button" onclick="playById(current_caption)" accesskey="x">Replay(x)</button></th>
        <th><button class="function-button" onclick="playById(current_caption+1)" accesskey="c">&gt;Next(c)</button></th>
      </tr>
    </table>
  </div>
  <div id="caption">
    <nav id="nav-cap">
      <ul id="caption-ul">
          <li>Link 1</li>
      </ul>
    </nav>
  </div>
{% endblock %}