{% extends "appbuilder/base.html" %}
{% import 'appbuilder/general/lib.html' as lib %}
{% block content %}
<link rel="stylesheet" href="/static/css/toggle.css" />
<link rel="stylesheet" href="/static/css/toastr_modi.css" />
<link rel="stylesheet" href="/static/css/mycss.css" />
<script src="/static/js/toggle.js"></script>
<script src="/static/js/toastr_modi.js"></script>
<script src="/static/js/myjs.js"></script>
<script src="/static/js/jquery.finger.js"></script>

    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    <div>
      <h4><center>{{content_description}}</center></h4>
    </div>
    <div>
    <div id="player"></div>
    </div>

    <script>

      var flag = 1;

      let playMode = 2;
      let youtubeid = "{{content_id}}";
      let captions = [];
      let captions_new = [];
      
      let current_caption = 0;

      $(document).ready(function () {
        function toggleValueChanged(selectedValue) {
          playMode = selectedValue;
        }

        let opt = [
          { value: 1, label: "연속" },
          { value: 2, label: "구간" },
        ];

        $("#stopmode").setupToggles({
          toggleOptions: opt,
          defaultValue: 2,
          onSelectedValueChange: toggleValueChanged,
        });
      });

      var player;

      var tag = document.createElement('script');
      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      let pWidth = $( document ).width() <= 640 ? $( document ).width() : 640;
      let pHeight = Math.round(( pWidth * 3 ) / 4);
      
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: pHeight,
          width: pWidth,
          videoId: youtubeid,
          //playerVars: { 'autoplay': 1, 'start':300, 'end':310, 'modestbranding':1},
          playerVars: { 'autoplay': 0, 'controls': 0, 'disablekb': 1, 'fs':0, 'rel':0, 'start':{{play_from}}, 'modestbranding':1},
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
        });

      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data != YT.PlayerState.PLAYING) {
          event.target.setPlaybackQuality('small');  // <-- WORKS!
          document.getElementById("toggleDiv").innerHTML = 'Play  (q)';
          flag=1;
        }else{
          document.getElementById("toggleDiv").innerHTML = 'Pause(q)';
          flag=0;
        }
        //if (event.data == YT.PlayerState.PLAYING && !done) {
        //  setTimeout(stopVideo, 6000);
        //  done = true;
        //}
        //document.getElementById('status').html(event.data);
        document.getElementById('status').innerHTML = getStatus(event.data);
        document.getElementById('quality').innerHTML = "qual : "+player.getPlaybackQuality()
        
      }

      function stopVideo() {
        player.stopVideo();
      }

      function getStatus(status){
        let rtn;
        switch (status) {
          case -1:
            rtn = "unstarted";
            break;
          case 0:
            rtn = "ended";
            break;
          case 1:
            rtn = "playing";
            break;
          case 2:
            rtn = "paused";
            break;
          case 3:
            rtn = "buffering";
            break;
          case 5:
            rtn = "video cued";
        }
        return rtn;
      }

      function myNormal() {
        player.setPlaybackRate(1.0);
      }
      function myFast() {
        player.setPlaybackRate(1.25);
      }
      function mySlow() {
        player.setPlaybackRate(0.75);
      }
      function getContents() {
        player.destroy();
        player = new YT.Player('player', {
          height: '360',
          width: pWidth,
          videoId: youtubeid,
          //playerVars: { 'autoplay': 1, 'start':300, 'end':310, 'modestbranding':1},
          playerVars: { 'autoplay': 0, 'controls': 0, 'disablekb': 1, 'fs':0, 'rel':0, 'start':300, 'modestbranding':1},
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
          });
        //player.playVideo();
      }
      function mypause() {
        player.pauseVideo();
        var ct = player.getCurrentTime();
        var ct2 = Math.round(ct * 100) / 100
        document.getElementById('time').innerHTML = "sec : " + ct2;
      }
      function mystart() {
        player.seekTo(player.getCurrentTime() - 0.5, true);        
        player.playVideo();
      }
      
      function playById(id){
        
        let rid = id<0 ? 0 : id;

        if(playMode==2){
          current_caption=rid
          captionScroll(current_caption);
        }

        player.seekTo(captions[rid].start , true);
        player.playVideo();

      }

      function openToast(id){
        
        var message = ''
        var duration = 0
        if(captions[id].hasOwnProperty('text_c')){
          message = captions[id].text_c
          duration = 6000

          toastr.info('', message, {
            timeOut: duration,
            positionClass: "toast-top-full-width",
            closeButton: true,
            showDuration: 200,
            closeDuration: 0,
            hideDuration: 200,

          })

        }

      }

      getcaptions("/api/v1/mytube/caption/" + youtubeid);

      $.Finger  = {
        pressDuration: 1000,
      };

      $('.row').on('press', '.row', function() {
        var s_id = $(this).find('[class^=column0]').text();
        playById(parseInt(s_id));
      });

      // Update the count down every 1 second
      var x = setInterval(function() {
        var ct = !player.getCurrentTime ? 0.0 : player.getCurrentTime();
        var ct2 = Math.round(ct * 100) / 100
        document.getElementById('time').innerHTML = "sec : " + ct2;
        if(captions.length==0){
        }else{
          //var val = captions.filter(function(e){
            //console.log("each : "+e.start+","+ct+","+e.duration);
            //return e.start < ct && e.end >= ct;
          //})
          //console.log("val : "+binarySearch(captions, ct))
          document.getElementById('current').innerHTML = "pos : " + current_caption + " / " + captions.length;

          if(playMode==1){
          
            if(captions[current_caption].start < ct && captions[current_caption].end > ct){

            }else{
              var val_id = musicSearch(captions, ct);
              if(val_id>=0){
                current_caption = val_id
                captionScroll(val_id);
              }
            }

          }else if (playMode==2) {

            if(captions[current_caption].end < ct){
              mypause();
            }
            
          } else {
            
          }

        }

      }, 300);

      function captionScroll(x) {
        //$('#caption-ul').scrollTop($('#caption-ul li:eq('+x+')').offset().top);
        if(x==0){
          $('#caption-ul').scrollTop($('#caption-ul li:nth-child(1)').position().top - $('#caption-ul li:first').position().top);
        }else{
          $('#caption-ul').scrollTop($('#caption-ul li:nth-child('+x+')').position().top - $('#caption-ul li:first').position().top);
        }
        $('#li-'+x).css("background-color","white")
        //$("caption-ul").get(x).scrollIntoView();
      }

      function captionScroll2(x) {
        var list = document.getElementById("caption-ul");
        var targetLi = document.getElementById("li-"+x);
        list.scrollTop = (targetLi.offsetTop - 10);
      }

      function binarySearch(items, value){

        var startIndex  = 0,
            stopIndex   = items.length - 1,
            middle      = Math.floor((stopIndex + startIndex)/2);
    
        while((items[middle].start >= value || items[middle].end < value ) && startIndex < stopIndex){
    
            //adjust search area
            if (value < items[middle]){
                stopIndex = middle - 1;
            } else if (value > items[middle]){
                startIndex = middle + 1;
            }
    
            //recalculate middle
            middle = Math.floor((stopIndex + startIndex)/2);
        }
        
        //make sure it's the right value
        return (items[middle] != value) ? -1 : middle;
      }

      function musicSearch(items, value){
        var rtn = -1;
        jQuery.each( items, function( i, val ) {
          if(val.start<value && val.end>=value){
            console.log("musicSearch:"+val.start);
            rtn = val.id;
            return false; 
          }
        });
        return rtn;
      }

      function mytoggle(){
        if(flag==0){
            //document.getElementById("toggleDiv").innerHTML = 'Play  (q)';
            mypause()
            //flag=1;
        }
        else if(flag==1){
            //document.getElementById("toggleDiv").innerHTML = 'Pause(q)';
            mystart()
            //flag=0;
        }
      }

    </script>
  <div>
    <table id="speed-buttons">
      <colgroup>
        <col style="width: 46%">
        <col style="width: 18%">
        <col style="width: 18%">
        <col style="width: 18%">
      </colgroup>
      <tr>
        <th><div id="stopmode" class="selectGroup"></div></th>
        <th><button class="speed-button" onclick="mySlow()" accesskey="v">Slow</button></th>
        <th><button class="speed-button" onclick="myFast()" accesskey="c">Fast</button></th>
        <th><button class="speed-button" onclick="myNormal()" accesskey="n">Normal</button></th>
      </tr>
    </table>
  </div>
  <div>
    <table id="function-buttons">
      <colgroup>
        <col style="width: 25%">
        <col style="width: 25%">
        <col style="width: 25%">
        <col style="width: 25%">
      </colgroup>
      <tr>
        <th class="player-info" id="current"></th>
        <th class="player-info" id="time"></th>
        <th class="player-info" id="quality"></th>
        <th class="player-info" id="status"></th>
      </tr>
      <tr>
        <th><button class="function-button" id="toggleDiv" onclick="mytoggle()" accesskey="q">Play (q)</button></th>
        <th><button class="function-button" onclick="playById(current_caption-1)" accesskey="z">&lt;Prev(z)</button></th>
        <th><button class="function-button" onclick="playById(current_caption)" accesskey="x">Replay(x)</button></th>
        <th><button class="function-button" onclick="playById(current_caption+1)" accesskey="c">&gt;Next(c)</button></th>
      </tr>
    </table>
  </div>
  <div id="caption">
    <nav id="nav-cap">
      <ul id="caption-ul">
          <li>Link 1</li>
      </ul>
    </nav>
  </div>
{% endblock %}