{% extends "appbuilder/base.html" %}
{% import 'appbuilder/general/lib.html' as lib %}
{% block content %}
<link rel="stylesheet" href="/static/css/toggle.css" />
<script src="/static/js/toggle.js"></script>
  <style>
    #nav-cap ul{height:300px; width:80%;}
    #nav-cap ul{overflow:hidden; overflow-y:scroll;}
    :root {
      --default-line-height: 22px;
    }
    #caption-ul {
      background-color: lightblue;
      height: var(--default-line-height);
      list-style-type: none;
      overflow-y: scroll;
      outline: 1px solid black;
      scroll-snap-type: y mandatory;
    }
    .caption-li {
      font-size: 17px;
      line-height: var(--default-line-height);
      scroll-snap-align: start;
      scroll-snap-stop: normal;
    }
    .caption-li:hover {
      background-color: yellow;
    }
    .player-info {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
  </style>
    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    <div>
      <h3>{{content_description}}</h3>
    </div>
    <div>
    <div id="player"></div>
    </div>

    <script>

      let playMode = 1;
      let youtubeid = "{{content_id}}";
      let captions = [];
      let current_caption = 0;

      $(document).ready(function () {
        function toggleValueChanged(selectedValue) {
          playMode = selectedValue;
        }

        let opt = [
          { value: 1, label: "연속재생" },
          { value: 2, label: "구간재생" },
        ];

        $("#stopmode").setupToggles({
          toggleOptions: opt,
          defaultValue: 1,
          onSelectedValueChange: toggleValueChanged,
        });
      });

      // 2. This code loads the IFrame Player API code asynchronously.
      var tag = document.createElement('script');

      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      let pWidth = $( document ).width() <= 640 ? $( document ).width() : 640;
      let pHeight = Math.round(( pWidth * 3 ) / 4);
      
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('player', {
          height: pHeight,
          width: pWidth,
          videoId: youtubeid,
          //playerVars: { 'autoplay': 1, 'start':300, 'end':310, 'modestbranding':1},
          playerVars: { 'autoplay': 0, 'controls': 0, 'disablekb': 1, 'fs':0, 'rel':0, 'start':{{play_from}}, 'modestbranding':1},
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
      });

      }

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        if (event.data != YT.PlayerState.PLAYING) {
          event.target.setPlaybackQuality('small');  // <-- WORKS!
        }
        //if (event.data == YT.PlayerState.PLAYING && !done) {
        //  setTimeout(stopVideo, 6000);
        //  done = true;
        //}
        //document.getElementById('status').html(event.data);
        document.getElementById('status').innerHTML = "status : "+getStatus(event.data);
        document.getElementById('quality').innerHTML = "quality : "+player.getPlaybackQuality()
        
      }
      function stopVideo() {
        player.stopVideo();
      }
      function getStatus(status){
        let rtn;
        switch (status) {
          case -1:
            rtn = "unstarted";
            break;
          case 0:
            rtn = "ended";
            break;
          case 1:
            rtn = "playing";
            break;
          case 2:
            rtn = "paused";
            break;
          case 3:
            rtn = "buffering";
            break;
          case 5:
            rtn = "video cued";
        }
        return rtn;
      }

      function myFunction1() {
        player.seekTo(100.5, true);
        player.playVideo();
      }
      function myFunction2() {
        player.setPlaybackRate(1.0);
        //player.playVideo();
      }
      function myFunction3() {
        player.setPlaybackRate(1.25);
        //player.playVideo();
      }
      function myFunction4() {
        player.setPlaybackRate(0.75);
        //player.playVideo();
      }
      function getContents() {
        player.destroy();
        player = new YT.Player('player', {
          height: '360',
          width: pWidth,
          videoId: youtubeid,
          //playerVars: { 'autoplay': 1, 'start':300, 'end':310, 'modestbranding':1},
          playerVars: { 'autoplay': 0, 'controls': 0, 'disablekb': 1, 'fs':0, 'rel':0, 'start':300, 'modestbranding':1},
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          }
          });
        //player.playVideo();
      }
      function mypause() {
        player.pauseVideo();
      }
      function mystart() {
        player.seekTo(player.getCurrentTime() - 0.5, true);        
        player.playVideo();
      }
      
      function playById(id){
        
        if(playMode==2){
          current_caption=id
          captionScroll(current_caption);
        }

        player.seekTo(captions[id].start , true);
        player.playVideo();

      }

      function getcaptions() {

        $.ajax({
          type: "GET",
          url: "/api/v1/mytube/caption/" + youtubeid
        }).done(function (response) {
            //captions = jQuery.parseJSON(response);
            captions = response;
            //console.log(captions)
            $("#caption-ul").empty();
            $(response).each(function(i,val)
            {
              var start = (Math.round(val.start * 10) / 10);
              var end   = (Math.round(val.end * 10) / 10);
              
              var line = ""+i+" : "+start+" ~ "+end+" "+val.text;
              
              //console.log(val.duration)
              //$.each(val,function(key,val)
              //{
              //  line = line + key + ": " + val + " "; 
                //console.log(key + " : " + val);     
              //});
              $("#caption-ul").append('<li class="caption-li" id="li-'+ i +'">'+ line +"</li>");
              //console.log(i + " : " + val);

            });
        }).fail(function (response) {
            console.log();
        });

        //console.log(captions)
      }
      getcaptions();
      // Update the count down every 1 second
      var x = setInterval(function() {
        var ct = player.getCurrentTime();
        var ct2 = Math.round(ct * 100) / 100
        document.getElementById('time').innerHTML = "경과시간 : " + ct2;
        if(captions.length==0){
        }else{
          //var val = captions.filter(function(e){
            //console.log("each : "+e.start+","+ct+","+e.duration);
            //return e.start < ct && e.end >= ct;
          //})
          //console.log("val : "+binarySearch(captions, ct))
          document.getElementById('current').innerHTML = "길이 : " + captions.length + " ID : " + current_caption;

          if(playMode==1){
          
            if(captions[current_caption].start < ct && captions[current_caption].end > ct){

            }else{
              var val_id = musicSearch(captions, ct);
              if(val_id>=0){
                current_caption = val_id
                captionScroll(val_id);
              }
            }
          }else if (playMode==2) {

            if(captions[current_caption].end < ct){
              mypause();
            }
            
          } else {
            
          }

        }
      }, 300);

      function captionScroll(x) {
        //$('#caption-ul').scrollTop($('#caption-ul li:eq('+x+')').offset().top);
        $('#caption-ul').scrollTop($('#caption-ul li:nth-child('+x+')').position().top - $('#caption-ul li:first').position().top);
        $('#li-'+x).css("background-color","white")
        //$("caption-ul").get(x).scrollIntoView();
      }

      function captionScroll2(x) {
        var list = document.getElementById("caption-ul");
        var targetLi = document.getElementById("li-"+x);
        list.scrollTop = (targetLi.offsetTop - 10);
      }

      function binarySearch(items, value){

        var startIndex  = 0,
            stopIndex   = items.length - 1,
            middle      = Math.floor((stopIndex + startIndex)/2);
    
        while((items[middle].start >= value || items[middle].end < value ) && startIndex < stopIndex){
    
            //adjust search area
            if (value < items[middle]){
                stopIndex = middle - 1;
            } else if (value > items[middle]){
                startIndex = middle + 1;
            }
    
            //recalculate middle
            middle = Math.floor((stopIndex + startIndex)/2);
        }
        
        //make sure it's the right value
        return (items[middle] != value) ? -1 : middle;
      }

      function musicSearch(items, value){
        var rtn = -1;
        jQuery.each( items, function( i, val ) {
          if(val.start<value && val.end>=value){
            console.log("musicSearch:"+val.start);
            rtn = val.id;
            return false; 
          }
        });
        return rtn;
      }

    </script>
  <div id="stopmode" class="selectGroup"></div>
  <br><br>
  <div>
    <table>
      <tr>
        <th class="player-info" id="time"></th>
        <th class="player-info" id="quality"></th>
        <th class="player-info" id="current"></th>
        <th class="player-info" id="status"></th>
      </tr>
    </table>
  </div>
  <div>
    <button onclick="mypause()" accesskey="p">pause(ALT-p)</button>
    <button onclick="mystart()" accesskey="o">play(ALT-o)</button>
    <button onclick="playById(current_caption-1)" accesskey="h">이전(ALT-h)</button>
    <button onclick="playById(current_caption)" accesskey="r">다시(ALT-r)</button>
    <button onclick="playById(current_caption+1)" accesskey="l">다음(ALT-l)</button>
    <button onclick="myFunction3()" accesskey="c">빨리(ALT-c)</button>
    <button onclick="myFunction4()" accesskey="v">느리게(ALT-v)</button>
    <button onclick="myFunction2()" accesskey="n">원래속도(ALT-n)</button>
  </div>
  <div id="caption">
    <nav id="nav-cap">
      <ul id="caption-ul">
          <li>Link 1</li>
      </ul>
    </nav>
  </div>
{% endblock %}